.sacola{
    background: url("../_imagens/sacola.png") no-repeat top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;

    position: absolute;
    top: 0;
    right: 0;
    margin-left: 8px;
    margin-top: 20px;
}

.menu-opcoes ul{
    font-size: 15px;
}

.menu-opcoes a{
    color: #003366;
}

body{
    color:	#333333;
    font-family:	"Lucida	Sans	Unicode",	"Lucida	Grande",	sans-serif;
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
}

.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}

.container{
    margin: 0 auto;
    width: 940px;
}

header{
    position: relative;
}

.busca,.menu-departamentos{
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;

    margin-right: 10px;
    width: 230px;

    float: left;
}

.menu-departamentos{
    clear:left;
    margin-top: 10px;
    padding-bottom: 10px;
}

.busca h2,.busca form,.menu-departamentos h2{
    margin: 10px;
}

.menu-departamentos li{
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos	a	{
    color:	#333333;
    text-decoration:	none;
}

.busca input{
    vertical-align: middle;
}

.busca input[type=search]{
    width: 170px;
}

.destaque{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.painel{
    margin-bottom: 10px;
    padding: 10px;
    width: 445px;
}

.novidades{
    float:left;
}

.mais-vendidos{
    float: right;
}

.painel li{
    display: inline-block;
    vertical-align: top;
    width: 140px;

    margin: 2px;
    padding-bottom: 10px;
}

.painel h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 10px ;
}

.painel a{
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.novidades{
    background-color: #f5dcdc;
}

.mais-vendidos{
    background-color: #dcdcf5;
}

.borda{
    border-style: solid;
    border-width: 1px;
}

footer{
    background: url("../_imagens/fundo-rodape.png");
    clear: both;
    padding: 20px 0;
    position: relative;
    width: 940px;
    margin: 0 auto;

}

footer.container{
    position:	relative;

}

.social{
    position:	absolute;
    top:	12px;
    right:	0;
}

.social li{
    float:	left;
    margin-right: 25px;

    margin-top: 15px;

}

.social a{
    height: 32px;
    width: 32px;

    display: block;
    text-indent: -9999px;
}

footer img{
    padding-left: 20px;
}

.social	a[href*="facebook.com"]	{
    background-image:	url(../_imagens/facebook.png);
}
.social	a[href*="twitter.com"]	{
    background-image:	url(../_imagens/twitter.png);
}
.social	a[href*="plus.google.com"]	{
    background-image:	url(../_imagens/googleplus.png);
}

.menu-opcoes	a:hover	{
    color:	#007dc6;
}
.menu-opcoes	a:active{
    color:	#867dc6;
}

.menu-departamentos li ul{
    display: none;
}
.menu-departamentos li:hover ul{
    display: block;
}
.menu-departamentos ul ul li{
    background-color: #dcdcdc;
}

.menu-departamentos li li a:before{
    content: "- ";
}

.painel h2:before{
    content: '\2756';
    padding-right: 5px;
    opacity: 0.4;
}