<<<<<<< HEAD:CursoE-comerce/_css/estilo.css
body{
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	color: #333333;
    font-family: "Lucida Sans Unicode","Lucida Grande", sans-serif;
}

h1{
	padding: 10px;
	color: white;
	background-image: url("../_imagens/sobre-background");
}

h2{
	margin-top: 30px;
	border-bottom: 2px solid #333333;
}
p{
	padding: 0 45px;
	text-indent: 15px;
}
figure{
	padding: 15px;
	margin: 30px;
	background-color:#F2EDED;
	border: 1px solid #ccc;
	text-align: center;
}

figcaption{
	margin-top:10px;
	font-style: italic;
}

figure#centro-distribuicao {

	margin-left: auto;
	margin-right: auto;
	width: 540px;

}

#rodape{
	color: #777;
	margin: 30px 0;
	padding: 30px 0;
}
#rodape img{
	margin-right: 30px;
	vertical-align: middle;
	width: 94px;

}

#paelho-family{
	float: right;
	margin: 0 0 10px 10px;
}
=======
body {
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1.titulo {
	padding: 10px;
	color: white;
	background-image: url("../_imagens/sobre-background");
}

h2 {
	margin-top: 30px;
	border-bottom: 2px solid #333333;
}

p {
	padding: 0 45px;
	text-indent: 15px;
}

figure {
	padding: 15px;
	margin: 30px;
	background-color: #F2EDED;
	border: 1px solid #ccc;
	text-align: center;
}

figcaption {
	margin-top: 10px;
	font-style: italic;
}

figure#centro-distribuicao {
	margin-left: auto;
	margin-right: auto;
	width: 540px;
}

#rodape {
	color: #777;
	margin: 30px 0;
	padding: 30px 0;
}

#rodape img {
	margin-right: 30px;
	vertical-align: middle;
	width: 94px;
}

#paelho-family {
	float: right;
	margin: 0 0 10px 10px;
}

div#cabecalho {
	position: relative;
}

.sacola {
	background: url("../_imagens/sacola.png") no-repeat top right;
	font-size: 14px;
	text-align: right;
	width: 140px;
	position: absolute;
	top: 0;
	right: 0;
	margin-left: 8px;
	margin-top: 20px;
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes a {
	color: #003366;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
}

div {
	top: -20px;
}

p:first-letter {
	font-weight: bold;
}

h1+p {
	text-indent: 0;
}

p:first-line {
	font-variant: small-caps;
}


>>>>>>> dev:CursoE-comerce/_css/sobre.css
