
body{
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    background: #029B8B;
}

.header{
    background: #0F2B47;
    border-bottom: #0d1932 3px solid;
    padding: 20px ;

}

.header h1{
    color: #fff;

}

.header p{
    color: #fff;
    font-size: 20px;
}
.container{
    width: 700px;
    margin: 0px auto;

}
.game-board{
    display: grid;
    grid-gap: 1em;

}
.game-row > button{
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 1em;
    font-size: 18px;
}
.game-row{
    /*
    display: grid;
    grid-template-columns:1fr 1fr 1fr;

    grid-gap: 1em;
    align-self: center;
    justify-content: center;
    */
}

.game-options{
    display: grid;
    margin-top: 20px;
    max-height: 80px;
    grid-template-columns: 134px 120px 120px 120px 134px;
    grid-gap: 1em;
}

.game-options button{
    width: 120px;
    height: 80px;
    font-size: 18px;
}



#refreshButton{
    grid-column: 2;
}
#undoButton{
    grid-column: 3;
}

#redoButton{
    grid-column: 4;
}


.btn-game {
    background: transparent;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:3px solid #96F60F;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    -webkit-transition: color 2s;
    -moz-transition: color 2s;
    -ms-transition: color 2s;
    -o-transition: color 2s;
    transition: background-color 150ms, color 150ms, border 200ms;
}
.btn-game:hover {
    background-color:#96F60F;
    color: #000;
}
.btn-game:active {
    position:relative;
    top:1px;
    background-color: #96F60F;
}


.btn-options{
    background-color: #DCE0D9;

}

.container{
    display: grid;
    grid-template-columns: 70% 30%;
}

#saveButton{
    width: 120px;
    height: 80px;
    margin-bottom: 20px;
}
#loadButton{
    width: 120px;
    height: 80px;
}
.save{
    margin-top: 180px;
    margin-right: 140px;
    align-content: start;
}
.game{
    margin-left: 60px;
}
.game-board{
    margin-left: 120px;
}
#status{
    margin-left: 120px;
}