body{
    text-align: center;
    font-family: Arial;
    font-size: 18px;
}

li{
    list-style: none;
    line-height: 2em;
    text-align: left;
}

.header {
    background: #f4f4f4;
    border-bottom: #ccc 3px solid;
    padding: 20px;
}

.container{
    width: 720px;
    margin: 30px auto;
}

.game-row{
    width: 240px;
}
